<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Categories</h1>

    <p>Menampilkan <%= categories.length %> kategori</p>

    <p>
      <a href="/categories/create">+ Create new category</a>
    </p>

    <table border="1">
      <thead>
        <tr>
          <th>No.</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
      <% categories.forEach((p, i) => { %>
        <tr>
          <td><%= i + 1 %></td>
          <td>
            <a href="/categories/<%= p.id %>"> <%= p.name %> </a>
          </td>
        </tr>
      <% }) %>
      </tbody>
    </table>
  </body>
</html>
