<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><a href="/categories">&larr;</a> | Create New Category</h1>

    <form method="post">
      <p>
        <label for="name">Name</label> <br />
        <input type="text" name="name" placeholder="Name" />
      </p>

      <p>
        <button type="submit">Create</button>
        <a href="/categories">Cancel</a>
      </p>
    </form>
  </body>
</html>
