<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><a href="/products">&larr;</a> | Create New Product</h1>

    <form method="post">
      <p>
        <label for="name">Name</label> <br />
        <input type="text" name="name" placeholder="Name" id="name" />
      </p>

      <p>
        <label for="categoryId">Category</label> <br />
        <select name="categoryId" id="categoryId">
          <% categories.forEach(c => { %>
            <option value="<%= c.id %>"><%= c.name %></option>
          <% }) %>
        </select>
      </p>

      <p>
        <label for="price">Price</label> <br />
        <input type="number" name="price" placeholder="Price" id="price" />
      </p>

      <p>
        <label for="stock">Stock</label> <br />
        <input type="number" name="stock" placeholder="Stock" id="stock" />
      </p>

      <p>
        <label for="description">Description</label> <br />
        <textarea
          name="description"
          id="description"
        ></textarea>
      </p>

      <p>
        <button type="submit">Create</button>
        <a href="/products">Cancel</a>
      </p>
    </form>

  </body>
</html>
